
<nav  class="navbar is-primary">
  <div class="container">
    <div class="navbar-brand">
     <a class="navbar-item" href="#" style="font-weight:bold">New Headline Hunter</a>
      <span class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">
        <a href="#" class="navbar-item is-active">General</a>
        <a href="#" class="navbar-item ">Tchnology</a>
        <a href="#" class="navbar-item ">Sport</a>
        <a href="#" class="navbar-item ">Business</a>
        <a href="#" class="navbar-item ">Health</a>
        <a href="#" class="navbar-item ">Entertainement</a>
        <a href="#" class="navbar-item ">Science</a>
        <a href="#" class="navbar-item ">Breacking news</a>
        <a href="#" class="navbar-item">About Me</a>

      </div>
    </div>



  </div>




</nav>